@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.proud {
    text-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.proud-white {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.dataTables_length, 
.dataTables_filter {
    padding: 10px 8px;
}

.dataTables_wrapper .dataTables_length select {
    padding: 3px 8px;
}

select[name=DataTables_Table_0_length] {
    background-position: left 1.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

table.dataTable thead th {
    padding: 10px 8px;
}

#DataTables_Table_0 {
    border-top: 1px solid #c3c3c3
}

.dataTables_wrapper {
    background: #fff;
}

.dataTables_wrapper .dataTables_info {
    padding: 20px 0;
}

.dataTables_wrapper .dataTables_paginate {
    padding: 10px 0;
    font-weight: bold;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0;
    border: 1px solid #ddd;
    color:  #006dcc !important;
    border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid #ddd;
    color:  #006dcc !important;
    border-radius: 0;
    background: #eee;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled {
    color: #333 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled:hover {
    border: 1px solid #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    color: #006dcc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
    color: #006dcc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #fff;
    color: #006dcc !important;
    border: 1px solid #006dcc;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #fff !important;
    border: 1px solid #006dcc;
    color: #006dcc !important;
}